* {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #92a8d1;
}

a {
  color: #0c0b0b;
}

a:hover {
  color: #f7786b;
}

.menuBar {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #034f84;
  color: #f7786b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainPage {
  height: 1000px;
  padding: 70px;
}

#about {
  height: 1000px;
  padding: 70px;
}

#languages {
  height: 1000px;
  padding: 70px;
}

#portfolio {
  height: 3200px;
  padding: 70px;
}

#contact {
  height: 1000px;
}

#myLinks {
  padding-top: 50px;
  font-size: 15px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.padder {
  padding: 20px;
}

.textAligner {
  text-align: center;
}

.fontHeader {
  font-size: 30px;
  color: #034f84;
  font-weight: bold;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myAvatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #034f84;
}

.myIcons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iconSpacer {
  padding: 15px;
}

.portfolioSpacer {
  padding-top: 50px;
}

.portfolioHeader {
  font-size: 20px;
  font-weight: bold;
}

.myImage img {
  width: 200px;
  height: 150px;
  padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 20px;
  }

  #mainPage {
    height: 768px;
    padding: 70px;
  }

  #about {
    height: 768px;
    padding: 70px;
  }

  #languages {
    height: 768px;
    padding: 70px;
  }

  #portfolio {
    height: 2200px;
    padding: 70px;
  }

  #contact {
    height: 768px;
    padding-top: 70px;
  }
}
