* {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #92a8d1;
}

.p4spacer {
  padding: 10px;
}

/* Navbar Styling */

.topnav {
  overflow: hidden;
  background-color: #034f84;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
}

.topnav2 {
  overflow: hidden;
  background-color: #034f84;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
}

.topnav2 a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: white;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #f7786b;
  color: black;
}

.active {
  background-color: #034f84;
  color: white;
}

/* Mainpage styling */

.contentsection {
  padding-top: 10px;
}

.splashcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.splashimage {
  width: 90vw;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.splashimage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #034f84;
}

.sectiontext {
  font-size: 30px;
  padding-top: 70px;
}

.avatarimage {
  padding-top: 50px;
}

.biotext {
  display: flex;
  justify-content: center;
}

.sectioncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionimage {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fullpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.fullpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.mytext {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mybio {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textspacer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.languages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tunezilla img {
  width: 160px;
  height: 150px;
}

.minishots img {
  width: 60px;
  height: 50px;
}

.iconspacer {
  padding: 5px;
}

/* Project Page CSS */

.projectpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.projecttitle {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 25px;
}

.displayimage img {
  width: 200px;
  height: 150px;
  padding-bottom: 30px;
}

.links,
.techused {
  padding: 20px;
}

/* Desktop */

@media only screen and (min-width: 600px) {
  .pagecontainer {
    height: 100vw;
  }

  .contentsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .sectioncontainer {
    align-items: center;
    margin: 20px;
  }

  .sectionimage {
    width: 125px;
    height: 200px;
  }

  .splashimage {
    width: 90vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
