* {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #92a8d1;
}

a {
  color: #0c0b0b;
  font-size: 20px;
}

a:hover {
  color: #f7786b;
}

.menuBar {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #034f84;
  color: #f7786b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainPage {
  height: 800px;
  padding: 70px;
}

#about {
  height: 1300px;
  padding: 70px;
}

#languages {
  height: 800px;
  padding: 70px;
}

#portfolio {
  height: 3750px;
  padding: 70px;
}

#contact {
  height: 500px;
  padding: 70px;
}

#myLinks {
  padding-top: 50px;
  font-size: 15px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.padder {
  padding: 20px;
}

.textAligner {
  text-align: center;
}

.fontHeader {
  font-size: 30px;
  color: #034f84;
  font-weight: bold;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myAvatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #034f84;
}

.myIcons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iconSpacer {
  padding: 15px;
}

.portfolioSpacer {
  padding-top: 100px;
  padding-bottom: 30px;
}

.portfolioSpacer1 {
  padding-top: 55px;
  padding-bottom: 30px;
}

.portfolioHeader {
  font-size: 20px;
  font-weight: bold;
}

.myImage img {
  width: 200px;
  height: 150px;
  padding-bottom: 10px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

/* Screens of 375px or bigger */

@media screen and (min-width: 375px) {
  body {
    font-size: 20px;
  }

  #mainPage {
    height: 900px;
    padding: 70px;
  }

  #about {
    height: 1500px;
    padding: 70px;
  }

  #languages {
    height: 900px;
    padding: 70px;
  }

  #portfolio {
    height: 4000px;
    padding: 70px;
  }

  #contact {
    height: 500px;
    padding-top: 70px;
  }
}

/* Screens of 425px or bigger */

@media screen and (min-width: 425px) {
  body {
    font-size: 20px;
  }

  #mainPage {
    height: 800px;
    padding: 70px;
  }

  #about {
    height: 1100px;
    padding: 70px;
  }

  #languages {
    height: 700px;
    padding: 70px;
  }

  #portfolio {
    height: 3700px;
    padding: 70px;
  }

  #contact {
    height: 500px;
    padding-top: 70px;
  }

  .linkSpacer a {
    padding: 20px;
  }
}

/* Screens of 700px or bigger(Tablet view)*/

@media screen and (min-width: 700px) {
  body {
    font-size: 20px;
  }

  #mainPage {
    height: 550px;
    padding: 70px;
  }

  #about {
    height: 550px;
    padding: 70px;
  }

  #languages {
    height: 450px;
    padding: 70px;
  }

  #portfolio {
    height: 2800px;
    padding: 70px;
  }

  #contact {
    height: 450px;
    padding-top: 70px;
  }

  .linkSpacer a {
    padding: 20px;
  }
}

/* Screens of 1000px or bigger(Desktop view)*/

@media screen and (min-width: 1000px) {
  body {
    font-size: 30px;
  }

  a {
    font-size: 30px;
  }

  .fontHeader {
    font-size: 40px;
  }

  #mainPage {
    height: 800px;
    padding: 70px;
  }

  #about {
    height: 850px;
    padding: 70px;
  }

  #languages {
    height: 650px;
    padding: 70px;
  }

  #portfolio {
    height: 3750px;
    padding: 70px;
  }

  .portfolioHeader {
    font-size: 30px;
  }

  .myImage img {
    width: 300px;
    height: 250px;
  }

  #contact {
    height: 650px;
    padding-top: 70px;
  }

  .linkSpacer a {
    padding: 20px;
  }
}
